.birthday{
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.affiliation{
    margin-top: 16px;
    margin-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 768px) {
    .birthday .label::after,
    .affiliation .label::after {
        content: '\A'; /* CSSでの改行コード */
        white-space: pre; /* preを使用して改行と空白を保持 */
    }
}